# ===== Maven =====
target/

# ===== Eclipse / STS =====
.project
.classpath
.settings/
.dbeaver/
Scripts/
.factorypath

# ===== IntelliJ =====
.idea/
*.iml

# ===== VS Code =====
.vscode/

# ===== Logs / temp =====
*.log
*.tmp

# ===== OS =====
.DS_Store
Thumbs.db